data/
.venv/
src/mesh/*
src/SaveData/*
src/SaveVTK/*
src/__pycache__/*
*.edp
*.dat
*.vtk
*.vtu
*.vtp
*.vtr
*.vts
*.pth
*.png
*.mesh
*.gmsh
*.DS_Store
*.pyc
*.zip
*.pdf
!src/mesh/.gitkeep
!src/SaveData/.gitkeep
!src/SaveVTK/.gitkeep
src/mesh/Rij.npy
src/mesh/wij_param.npy